<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SF kommentkereső</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <div id="wrapper">
      <form action="/results" method="get">
        <input type="text" name="user" id="" placeholder="Felhasználó" />
        <input type="text" name="comment" id="" placeholder="Komment részlet" />
        <input type="number" name="is_reg" id="" placeholder="Regisztrált-e?" min="0" max="1" />
        <input type="number" name="points" id="" placeholder="Pont és ez felettiek" />
        <input type="submit" value="KERES" />
      </form>
      {%block results%} {%endblock%}
    </div>
  </body>
</html>
